{% load staticfiles %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Play</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
  </head>

  <body>
    <div class="content container">
      <!--div class="row"-->
        <div class="col-md-12">
          {% block content %}
          {% endblock %}
        </div>
      <!--/div-->
    </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>

</html>
