{% extends 'app/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>Play</h1>
      <!--p class="lead"></p-->
    </div>
  </div>
</div>

<form method="POST">
<div class="form-group row">
    <label for="example-email-input" class="col-xs-2 col-form-label">Email</label>
    <div class="col-xs-10">
        <input class="form-control" type="email" value="" id="email-input">
    </div>
</div>
<div class="form-group row">
    <label for="example-password-input" class="col-xs-2 col-form-label">Password</label>
    <div class="col-xs-10">
        <input class="form-control" type="password" value="" id="password-input">
    </div>
</div>
<button type="submit" class="btn btn-primary">LOGIN</button>
</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}
