{% extends 'app/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container bottom-buffer top-buffer">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1>Sign Up</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form method="POST" id="sign-up-form" class="col-lg-10 col-md-10 col-sm-10">
        {% csrf_token %}
        <div class="form-group">
          <label for="email-input">Email Address</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="email" class="form-control" id="email-input" placeholder="" autofocus>
          </div>
        </div>

        <div class="form-group">
          <label for="username-input">Username</label>
          <input type="text" class="form-control" id="username-input" placeholder="">
        </div>

        <div class="form-group">
          <label for="first-name-input">First Name</label>
          <input type="text" class="form-control" id="first-name-input" placeholder="">
        </div>

        <div class="form-group">
          <label for="last-name-input">Last Name</label>
          <input type="text" class="form-control" id="last-name-input" placeholder="">
        </div>

        <div class="form-group">
          <label for="password1-input">Password</label>
          <input type="password" class="form-control" id="password1-input">
        </div>

        <div class="form-group">
          <label for="password2-input">Confirm Password</label>
          <input type="password" class="form-control" id="password2-input">
        </div>

        <button type="submit" class="btn btn-primary top-buffer">CREATE ACCOUNT</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}
